@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.navigation {
  padding: 0px 20px;
  height: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  ul {
    display: flex;
    padding-inline-start: 0;
    li {
      position: relative;
      list-style: none;
      width: 70px;
      height: 70px;
      z-index: 1;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      text-align: center;
      font-weight: 500;
      cursor: pointer;
      .icon {
        position: relative;
        display: block;
        line-height: 75px;
        font-size: 1.5em;
        text-align: center;
        transition: 0.5s;
      }
      .text {
        position: absolute;
        font-weight: 400;
        font-size: 0.75em;
        letter-spacing: 0.05em;
        transition: 0.5s;
        opacity: 0;
        transform: translateY(-25px);
      }
    }
    li.active {
      .icon {
        transform: translateY(35px);
      }
      .text {
        opacity: 1;
        transform: translateY(-15px);
      }
    }
  }
  .indicator {
    position: absolute;
    box-sizing: border-box;
    bottom: -50%;
    border-radius: 50%;
    border: 5px solid;
    width: 70px;
    height: 70px;
    transition: 0.4s;
    .before {
      position: absolute;
      bottom: 50%;
      left: -20px;
      width: 19px;
      height: 20px;
      background: transparent;
      border-bottom-right-radius: 20px;
    }
    .after {
      position: absolute;
      bottom: 50%;
      right: -20px;
      width: 19px;
      height: 20px;
      background: transparent;
      border-bottom-left-radius: 20px;
    }
  }
}
