@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
.App {
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  background-color: var(--clr);
  font-family: "Poppins", sans-serif;
  overflow: auto;
  background-color: #222327;
}
